body{
    margin-top: 0px;
}

header {
    text-align: center;
    color: lightskyblue;
}
.main {
    width: 50%;
    border: 2px solid black;
    min-height: 400px;
    margin: auto auto;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
form {
    width: 80%;
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
}
input {
    width: 60%;
}
form button {
    width: 30%;
}
.message_main_box {
    width: 80%;
    min-height: 10px;
    display: flex;
    border: 2px solid black;
    margin-top: 30px;
    background-color: lightblue;
}
.message_status_box {
    border: 2px solid lightgreen;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: auto auto;
}
.message_status_box button{
    color: red;
}

.message_text_box{
    border: 2px solid orange;
    padding: 10px;
    width: 70%;
}
.error_box {
    color: red;
    font-size: 15px;
    font-style: italic;
    background-color:rgb(179, 179, 179);
}